@model SimonChung_Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
    
    <h1>@Model.Teacherfname @Model.Teacherlname</h1>

    <p><strong>Salary:</strong> $@Model.Salary </p>
</div>  